/* Reset TailwindCSS styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom global styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 20, 20, 20; /* Dark gray color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 20, 20, 20; /* Dark gray color */
  }
}

/* Apply custom styles to body */
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb)); /* Use solid color instead of gradient */
}

/* Define additional utility classes if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
